name: CI/CD Pipeline
on:
  push:
    branches:
      - main
jobs:
  sonar-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pylint

      - name: Install Curl and Wget
        run: |
          sudo apt-get update
          sudo apt-get install -y curl wget

      - name: Install Sonar Scanner
        run: |
          curl -o sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.8.0.2856-linux.zip || wget -O sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.8.0.2856-linux.zip
          unzip sonar-scanner.zip
          mv sonar-scanner-*-linux sonar-scanner
        env:
          PATH: ${{ runner.temp }}/sonar-scanner/bin:${{ env.PATH }}
          
      - name: SonarQube Analysis
        env:
          SONAR_HOST_URL: "http://localhost:9000"
          SONAR_LOGIN: ${{ secrets.SONAR_TOKEN }}
          PATH: ${{ runner.temp }}/sonar-scanner/bin:${{ env.PATH }}
        run: |
          sonar-scanner
          
  deploy:
    needs: sonar-scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Deploy to Elastic Beanstalk
        run: |
          eb deploy
